/* #region  main */
:root {
  /* colors */
  --main-dark: #2e2f42;
  --primary-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --body-text: #434455;
  --white: #ffffff;
  --light-white: #f4f4fd;
  --accent: #e7e9fc;
  --hover-icon-color: #31d0aa;
  --modal-background: #fcfcfc;

  --navy-blue-modal: rgba(46, 47, 66, 0.4);

  /* others */
  --desc-indent-col: 24px;
  --items: 3;

  /* animation */
  --anim: 250ms;
  --timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--body-text);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-style: normal;
  color: currentColor;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  border: none;
}

.container {
  margin: 0 auto;
  /* outline: 2px solid red; */
  outline-offset: -2px;
  padding: 0 16px;
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 320px;
    padding: 0 15px;
    max-width: 1158px;
  }
}

.title {
  margin: 0 auto;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-dark);
  text-align: center;
  text-transform: capitalize;
}

.section {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-dark);
  margin-bottom: 8px;
}

.subsection {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icons {
  fill: var(--light-white);
}

/* #endregion  main */

/* #region  Card set */
.card-set {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: var(--desc-indent-col);
  gap: 24px;
}

.card-set-item {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: calc(
    (100% - var(--items) - 1) * var(--desc-indent-col) / var(--items)
  );
}

/* #endregion  Card set */

/* #region  Button */
.btn {
  background-color: var(--primary-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  margin: 0 auto;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  border-width: 0;
  min-width: 169px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: var(--anim);
  transition-timing-function: var(--timing-func);
}

.btn:hover,
.btn:focus {
  background-color: var(--pressed-state-color);
  color: var(--white);
}

/* #endregion  Button */

/* #region Header Section */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0;
  flex-grow: 1;
}

@media only screen and (min-width: 768px) {
  .header-nav {
    margin-right: 121px;
  }
}

@media only screen and (min-width: 1158px) {
  .header-nav {
    margin-right: 332px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.header-logo {
  margin-right: 0;
  padding: 16px 0;
}

@media only screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
    padding: 0;
  }
}

.header-logo-dark {
  color: var(--main-dark);
}

.header-nav-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }
}

.header-nav-item {
}

.header-nav-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-dark);
  transition-property: color;
  transition-duration: var(--anim);
  transition-timing-function: var(--timing-func);
}

.header-nav-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: transparent;
}

.header-nav-link.active {
  color: var(--pressed-state-color);
}

.header-nav-link.active::after {
  background-color: var(--pressed-state-color);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--pressed-state-color);
}

.header-address {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-address {
    display: unset;
    font-style: normal;
  }
}

.header-address-list {
}

@media only screen and (min-width: 768px) {
  .header-address-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
  }
}

@media only screen and (min-width: 1158px) {
  .header-address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}

.header-address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition-duration: var(--anim);
  transition-timing-function: var(--timing-func);
  transition-property: color;
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--pressed-state-color);
}

/* #endregion Header Section */

/* #region  Hero Section */

.hero {
  padding: 72px 0;
  background-color: var(--main-dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/hero-mobile-@1x.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  margin: 0 auto;
}

@media only screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-mobile-@2x.jpg");
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-tab-@1x.jpg");
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-tab-@2x.jpg");
  }
}
@media only screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-tab-@1x.jpg");
  }
}
@media only screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-tab-@2x.jpg");
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    max-width: 1440px;
  }
}

.hero-title {
  font-weight: 700;

  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
  max-width: 496px;

  font-size: 36px;
  line-height: 1.11111;
  margin: 0 52px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title {
  }
}

.btn-hero {
  margin-top: 48px;
}

@media only screen and (max-width: 320px) {
  .btn-hero {
    margin-top: 72px;
  }
}

/* #endregion  Hero Section */

/* #region  Features Section */

.services {
}

.services-title {
}

.services-list {
  display: flex;
  column-gap: var(--desc-indent-col);
  column-gap: 0;
  flex-wrap: wrap;

  row-gap: 72px;
}

@media only screen and (min-width: 768px) {
  .services-list {
    column-gap: 24px;

    justify-content: center;
  }
}

@media only screen and (min-width: 1158px) {
  .services-list {
    flex-wrap: nowrap;
  }
}

.service-item {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .service-item {
    width: 356px;
  }
}

/* @media only screen and (max-width: 320px) {
    .services-list {
        flex-wrap: wrap;
        column-gap: 0;
        row-gap: 72px;
    }
} */

.service-wrapper {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .service-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: var(--light-white);
  }
}

.service-icon {
}

.service-subtitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .service-subtitle {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .service-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }
}

.our-services {
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .our-services {
    font-weight: 400;
  }
}

/* #endregion  Features Section */

/* #region  Team Section */

.team-container {
  padding: 0 28px;
}

@media only screen and (min-width: 768px) {
  .team-container {
    padding: 0 108px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-container {
    padding: unset;
  }
}

.team {
  background-color: var(--light-white);
}

.team-title {
}

.team-list {
  --items: 4;
}

.team-member {
  background: var(--white);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.team-photo {
}

.team-position {
}

.team-card-description {
  padding: 32px 0;
  text-align: center;
}

.team-card-description .team-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-socials.socials .social-link:hover,
.team-socials.socials .social-link:focus {
  background-color: var(--pressed-state-color);
}

/* #endregion  Team Section */

/* #region  Portfolio */

.portfolio {
}

.portfolio-title {
}

.portfolio-list {
  row-gap: 48px;
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
  height: 280px;
}

/* @media only screen and (max-width: 320px) {
    .portfolio-wrapper img {
        object-fit: cover;
        height: 100%;
    }

} */

@media only screen and (min-width: 768px) {
  .portfolio-wrapper {
    height: 300px;
    width: 356px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-wrapper {
    height: 280px;
    width: 360px;
  }
}

.portfolio-item {
  position: relative;
  background: var(--white);
  transition-duration: var(--anim);
  transition-timing-function: var(--timing-func);
  transition-property: box-shadow;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition-duration: var(--anim);
  transition-timing-function: var(--timing-func);
  transition-property: transform;
  background-color: var(--primary-color);
  width: 360px;
  height: 300px;
  padding: 40px 32px;

  color: var(--light-white);
  line-height: 24px;
  letter-spacing: 0.32px;
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-card-description {
  border: 1px var(--accent) solid;
  border-top: 0px;
  padding: 32px 16px;
}

.portfolio-photo {
}

.our-portfolio {
}

/* #endregion  Portfolio */

/* #region  Footer */

.site-footer {
  background: var(--main-dark);
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .site-footer {
    padding: 100px 0;
  }
}

.footer-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  row-gap: 72px;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    padding-left: 108px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    padding-left: unset;
    flex-wrap: nowrap;
  }
}

.footer-column-one {
  margin-right: 0;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .footer-column-one {
    width: unset;
    margin-right: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-column-one {
    margin-right: 120px;
  }
}

.footer-column-two {
  margin-right: 0;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-column-two {
    width: unset;
    margin-right: auto;

    text-align: unset;
  }
}

.footer-column-three {
}

.footer-logo {
  text-align: center;
  display: block;

  margin-bottom: 16px;
  height: 24px;
}

@media only screen and (min-width: 768px) {
  .footer-logo {
    text-align: left;
    display: inline-block;
  }
}

.logo-light {
  color: var(--light-white);
}

.footer-subsection {
  color: var(--light-white);
  max-width: 264px;

  /* outline: 2px solid red; */
}

.footer-caption {
  color: var(--white);

  line-height: 150%;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-caption {
    text-align: left;
  }
}

.socials {
  display: flex;
  gap: 16px;
  justify-content: center;

  /* outline: 2px solid red; */
}

@media only screen and (min-width: 768px) {
  .socials {
    justify-content: left;
  }
}

.socials-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--anim);
  transition-timing-function: var(--timing-func);
}
.socials-item {
}
.social-link:hover,
.social-link:focus {
  background-color: var(--hover-icon-color);
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media only screen and (max-width: 320px) {
  .footer-form {
    flex-wrap: wrap;
    gap: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-form {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.footer-form-label {
  width: 100%;
}

.footer-form-field {
  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
  transition-duration: var(--anim);
  transition-timing-function: var(--timing-func);
  transition-property: border-color, opacity;
  outline: transparent;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .footer-form-field {
    width: 264px;
  }
}

.footer-form-field:not(:focus):not(:active) {
  opacity: 0.3;
}

@media only screen and (min-width: 1158px) {
  .footer-form-field:not(:focus):not(:active) {
    opacity: 1;
  }
}

.footer-form-field:focus,
.footer-form-field:active {
  border-color: var(--primary-color);
}

.footer-form-field::placeholder {
  color: var(--white);
}

.btn-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;

  padding: 8px 24px;
}

@media only screen and (min-width: 768px) {
  .btn-footer {
    padding: 0;
  }
}

.footer-form-icon {
  margin-left: 16px;
  fill: var(--white);
}
/* #endregion  Footer */

/* #region  Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navy-blue-modal);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-duration: var(--anim);
  transition-timing-function: var(--timing-func);
  transition-property: opacity, visibility;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 288px;
  min-height: 584px;
  border-radius: 4px;
  background-color: var(--modal-background);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  padding: 72px 24px 24px 24px;
  transition-duration: var(--anim);
  transition-timing-function: var(--timing-func);
  transition-property: transform;
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}

.backdrop.is-open .modal {
  transform: translateX(-50%);
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .backdrop.is-open .modal {
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
  }
}

.modal-btn {
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--accent);
  fill: var(--main-dark);
  transition: var(--anim), var(--timing-func);
  transition-property: color;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: var(--anim);
  transition-timing-function: var(--timing-func);
  transition-property: border, background-color;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--pressed-state-color);
  fill: var(--white);
  border: none;
}

.modal-btn-icon {
  stroke: currentColor;
  transition-duration: var(--anim);
  transition-timing-function: var(--timing-func);
  transition-property: fill;
}

.modal-caption {
  color: var(--main-dark);
  text-align: center;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.modal-form {
}

.form-wrapper {
  margin-bottom: 8px;
}

.form-wrapper-comment {
  margin-bottom: 16px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: 1.17;
}

.form-field {
  position: relative;
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--navy-blue-modal);
  padding: 11px 38px;
  outline: transparent;
  transition-duration: var(--anim);
  transition-timing-function: var(--timing-func);
  transition-property: border-color;
  background-color: transparent;
}

.form-input:focus,
.form-input:active {
  border-color: var(--primary-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--main-dark);
  pointer-events: none;
  transition-duration: var(--anim);
  transition-timing-function: var(--timing-func);
  transition-property: fill;
}

.form-input:focus + .form-icon {
  fill: var(--primary-color);
}

.form-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  background-color: transparent;

  font-size: 12px;
  letter-spacing: 0.48px;
  line-height: 1.17;
  color: var(--navy-blue-modal);
}

.form-comment::placeholder {
  color: var(--navy-blue-modal);
}

.form-agreement {
  display: block;
}

.form-checkbox {
  margin-bottom: 24px;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
  transition-duration: var(--anim);
  transition-timing-function: var(--timing-func);
  transition-property: border, background-color, fill;
  cursor: pointer;
  fill: transparent;
}

input[type="checkbox"]:checked + .form-agreement .checkbox {
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--light-white);
}

.checkbox-icon {
  transition-duration: var(--anim);
  transition-timing-function: var(--timing-func);
  transition-property: opacity;
  opacity: 0;
}

input[type="checkbox"]:checked + .form-agreement .checkbox .checkbox-icon {
  opacity: 1;
}

.form-agreement-text {
  color: #8e8f99;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-size: 12px;
}

.form-agreement-link {
  color: var(--primary-color);

  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}

.btn-form {
}
/* #endregion  Modal */

/* #region Mobile menu */
.mobile-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-icon {
}
/* #endregion Mobile menu */

/* #region Mobile Menu */

.mobile-menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-container {
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--white);
  padding: 72px 16px 40px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: var(--anim);
  transition-timing-function: var(--timing-func);
}

@media only screen and (min-width: 768px) {
  .mobile-menu-container {
    display: none;
  }
}

.mobile-menu-container .modal-btn {
  background-color: unset;
}

.mobile-menu-container .header-nav-list {
  display: block;
  margin-bottom: auto;
}

.mobile-menu-container .header-address {
  display: block;
}

.mobile-menu-container .header-nav-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  padding: 20px 0;
}

.mobile-menu-container .header-nav-link.active::after {
  content: unset;
}

.mobile-menu-container .header-address {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.mobile-menu-container .header-address-list {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  align-items: flex-start;
}

.mobile-menu-container .header-address-link[href^="tel"] {
  color: var(--primary-color);
}

.mobile-menu-container .socials {
  margin-top: 48px;
  column-gap: 40px;
  justify-content: flex-start;
}

.mobile-menu-container .social-link:active,
.mobile-menu-container .social-link:focus,
.mobile-menu-container .social-link:hover {
  background-color: var(--pressed-state-color);
}

/* #endregion Mobile Menu */
